.banner {
  background-image: linear-gradient(-225deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.2) 50%), url(../../images/background.jpg);   
  color: whitesmoke;
  padding: 150px 0px;
	background-size: cover;     
	background-position: center;
}

.banner h1{
  font-size: 60px;
}

.banner h2{
  font-size: 30px;
  font-weight: lighter;
  opacity: 0.95;
  margin-bottom: 50px;
  text-align: left;
}