@import url("https://fonts.googleapis.com/css?fa 00,700|Roboto:300,400,700");
@import url("components/avatar.css");
@import url("components/banner.css");
@import url("components/button.css");
@import url("components/card.css");
@import url("components/container.css");

/* General style rules for fonts and colors */
body {
  font-family: 'Lora', serif;
  font-size: 18px;
  margin: 0px;
}
h1, h2, h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  text-align: center;
}
a {
  text-decoration: none;
}

#apply-section {
  background-color: #DFAF2C;
}